<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin-layout}">

    <!-- 메인 컨텐츠 -->
    <main layout:fragment="content" class="flex-grow p-8">
    <h1 class="text-2xl font-bold mb-6">관리자 수정</h1>
    <form class="bg-white p-4 rounded-lg shadow-lg">
        <div class="mb-4">
            <label for="name" class="block text-sm font-medium text-gray-700">이름</label>
            <input type="text" id="name" class="w-full border border-gray-300 rounded-lg p-2" value="홍길동">
        </div>
        <div class="mb-4">
            <label for="email" class="block text-sm font-medium text-gray-700">이메일</label>
            <input type="email" id="email" class="w-full border border-gray-300 rounded-lg p-2" value="hong@example.com">
        </div>
        <button type="submit" class="w-full bg-green-500 text-white rounded-lg px-4 py-2">수정</button>
    </form>
    </main>

</html>
